* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Red Rose", cursive;
}
.navbar  {
  display: flex;
  align-items: center;
  padding: 20px 10%;
}
nav div img{
    display: flex;
    position: relative;
    top: 24px;
    width: 100px;
}
.link {
    display: flex;
    list-style: none;
    position:relative;
    top:25px;
    margin: 13px 298px;
    gap:30px;
    
}
.link li a{
  color: #cfa036;
  text-decoration: none;
  padding:4px 26px;
}
#bt {
  padding:12px 13px;
  display: flex;
  /* position: relative;
  top: 24px; */
  float: right;
  line-height: 103px;
  border-radius: 2px;
  font-weight: 800;
  margin: auto;
}
.btn {
  position: absolute;
  top:49;
  background-color: #ff515f;
  border: none;
  color: white;
  padding: 6px 19px;
  cursor: pointer;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 119px;
}

#center h1 {
  color: #ffc233;
  font-size: 100px;
  font-weight: 400;
  line-height: 108px;
}

#center button {
  padding: 15px 20px;
  font-size: 18px;
  color: white;
  font-style: normal;
  font-weight: 600;
  border: none;
  background-color: #ff515f;
  border-radius: 10px;
  margin-top: 60px;
  cursor: pointer;
}
#center button:hover {
  background-color: black;
}

#img {
  position: absolute;
  right: 39px;
  bottom: 0;
}
